* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

button {
    width: 22%;
    cursor: pointer;
    border-radius: 10px;
    height: 4vh;
    margin: 1%;
    background-color: gray;
    font-weight: bold;
    font-size: 20px;
}

button:hover {
    background-color: hsl(0, 0%, 80%);
}

button:active {
    background-color: hsl(0, 0%, 100%);
}

#testo {
    width: 100%;
    border-radius: 10px;
    height: 5vh;
    margin-bottom: 10px;
    background-color: hsl(0, 0%, 90%);
    font-size: 25px;
    text-align: right;
}

.container {
    background-color: rgb(37, 35, 35);
    padding: 25px;
    border-radius: 20px;
}

#titolo {
    color: white;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
   position: absolute;
   top: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
}